body {
    padding:0px;
    margin: 0px;
}
.object {
    padding: 15px;
    border: 10px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    left: 10px;
    top: 10px;
}